<form action="/" method = "POST">

	<label for = "title">Title</label>

	<input type = 'text' name = "title">
	<label for = "body">Body</label>
	<input TYPE = 'text' name = "body">
	<input TYPE = 'submit' value = "Add">


</form>