<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
	<h2>EDIT PAGE</h2>
	<form action="/users/<%= @pokemon[:id] %>" method="POST">
		<input type="hidden" name="_method" value="PUT">

		<label for="name">Name</label>
		<input type="text" name="name" value="<%= @pokemon[:name] %>">

		<label for="description">Description</label>
		<textarea name="description"><%= @pokemon[:description] %></textarea>

		<input type="submit" value="Create User">
	</form>
</body>
</html>